@model Employee
@{
    ViewData["Title"] = "Details";
}


<h1>Details Page</h1>

<br />
<br />

    <partial name="EmployeePartialView/DeleteDetailsPartial"/>
    
   
    <div class="mt-4">    
    <a asp-controller="Employee" asp-action="Edit"  asp-route-id="@Model.Id"   class="btn btn-warning">Edit</a>
    <a asp-controller="Employee" asp-action="Index" class="btn btn-light">Back To List</a>
</div>
</div>


