@model EmployeeDTO
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Employee</h1>

<div class="d-flex flex-column align-items-center mb-4">
    <div class="border border-3 border-light shadow-sm rounded-3 d-flex justify-content-center align-items-center"
         style="width: 150px; height: 150px; background-color: #f8f9fa;">
        <img src="~/files/images/@(Model.ImageName ?? "user.png")"
             alt="Employee Photo"
             style="max-width: 100%; max-height: 100%; object-fit: contain; object-position: center;" />
    </div>

</div>


<br/>
<br/>


<form asp-action="Edit" enctype=multipart/form-data>
   <partial name="EmployeePartialView/CreateEditPartial"/>

     <input asp-for="ImageName"  hidden  />
     <div class="mt-4 d-flex justify-content-end gap-2">
    <button type="submit" class="btn btn-primary px-4">
        <i class="bi bi-save me-2"></i> Save
    </button>
    <a asp-controller="Employee" asp-action="Index" class="btn btn-outline-secondary px-4">
        <i class="bi bi-arrow-left-circle me-2"></i> Back to List
    </a>
</div>

</form>

@section validationSection {
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
