@model Departments
@{
    ViewData["Title"] = "Details";
}


<h1>Details Page</h1>

<br />
<br />

<div>
    <div class="form-group">

    <partial name="DepartmentPartialView/DeleteDetailsPartialView" />
      
   
    <div class="mt-4">    
    <a asp-controller="Department" asp-action="Edit"  asp-route-id="@Model.Id"   class="btn btn-warning">Edit</a>
    <a asp-controller="Department" asp-action="Index" class="btn btn-light">Back To List</a>
</div>
</div>


