@model Departments
@{
    ViewData["Title"] = "Details";
}


<h1>Details Page</h1>

<br />
<br />

<div>
    <div class="form-group">

    <partial name="DepartmentPartialView/DeleteDetailsPartialView" />
      
   
 <div class="mt-4 text-center">
    <a asp-controller="Department" asp-action="Edit" asp-route-id="@Model.Id" 
       class="btn btn-warning mx-2 px-4 shadow">
        <i class="bi bi-pencil-square me-2"></i> Edit
    </a>

    <a asp-controller="Department" asp-action="Index" 
       class="btn btn-secondary mx-2 px-4 shadow">
        <i class="bi bi-arrow-left-circle me-2"></i> Back To List
    </a>
</div>

</div>


