@model IEnumerable<Departments>
@{
    ViewData["Title"] = "Index";
    string message = TempData["message"] as string;
}

<partial name="ErrorMessagePartialView" model="message" ></partial>


<h1>All Department</h1>
<br />
<br />

<a asp-action="Create" asp-controller="Department" class ="btn btn-primary  mb-3">➕ Create Department</a>

<div class="m-2">
    <form asp-action="index" class="row offset-2"  method="get">
        <div class="col-8">
            <input class="form-control" id="searchInp" type="text" name="DepartmentSearchName" placeholder="Search Department By Name" />
        </div>
        <div class="col-4">
            <input  type="submit" class="btn btn-outline-success" value="Search"/>

        </div>
    </form>

</div>

@if (Model.Count() > 0)
{
    <table class="table table-striped table-hover table-bordered shadow-sm">
        <thead class="table-dark text-center">
            <tr>
                <th>Code</th>
                <th>Name</th>
                <th>Date of creation</th>
                <th>Details</th>
                <th>update</th>
                <th>Delete</th>
            </tr>
        </thead>

        <tbody>
            @foreach(var item in Model)
            {
                <tr>
                    <td>@item.Code</td>
                    <td>@item.Name</td>
                    <td>@item.CreateAt</td>
                    <partial name="ButtonsPartialView" model="@item.Id.ToString()" />
                  
                </tr>
            }
            
        </tbody>
    </table>
    
}
else
{
    <div class="mt-4 alert alert-info">
        <h4>There are no Department(:</h4>
    </div>
}


<script>
    $(document).ready(function () {
        const searchBar = $('#searchInp');
        const table = $('table');

        searchBar.on('keyup', function (event) {
            var searchValue = searchBar.val();

            $.ajax({
                url: '/Department/Search',
                type: 'Get',
                data: { DepartmentSearchName: searchValue },
                success: function (result) {
                    table.html(result);
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        });
    });
</script>



