
@{
    ViewData["Title"] = "CheckYourInbox";
    Layout = "~/Views/Shared/AuthLayout.cshtml";
}

<div class="main-w3layouts wrapper">
    <h1>CheckYourInbox</h1>
    <div class="main-agileinfo">
        <div class="agileits-top">
            <div>
                <p>Reset Password URL Has Been Send To Your Email </p>
            </div>
             <div>
                <a href="https://mail.google.com" target="_blank">Your Inbox </a>
            </div>
        </div>
    </div>
</div>


