@model ForgetPasswordDto
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/AuthLayout.cshtml";
}



<div class="main-w3layouts wrapper">
    <h1>ForgetPassword Form</h1>
    <div class="main-agileinfo">
        <div class="agileits-top">
            <form asp-action="SendResetPasswordUrl" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="input-group">
                    <input asp-for="Email" placeholder="Email" />
                    <i class="fa fa-envelope"></i>
                </div>
                <span asp-validation-for="Email" class="text-danger"></span>


                <input type="submit" value="Submit" />
            </form>

        </div>
    </div>
</div>


