@model ResetPasswordDto
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/AuthLayout.cshtml";
}


<div class="main-w3layouts wrapper">
    <h1>Reset Password Form</h1>
    <div class="main-agileinfo">
        <div class="agileits-top">
            <form asp-action="ResetPassword" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="input-group">
                    <input asp-for="NewPassword" placeholder="NewPassword" />
                    <i class="fa fa-envelope"></i>
                </div>
                <span asp-validation-for="NewPassword" class="text-danger"></span>

                <div class="input-group">
                    <input asp-for="ConfirmNewPassword" placeholder="ConfirmNewPassword" />
                    <i class="fa fa-envelope"></i>
                </div>
                <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>


                <input type="submit" value="Submit" />
            </form>

        </div>
    </div>
</div>


