@model Employee

 <div class="my-3">
        <label asp-for="Name" class="col-form-label">Name</label>@*asp for bind the input for prop*@
        <input asp-for="Name" class="form-control" readonly />
    </div>
    <div class="my-3">
        <label asp-for="Age" class="col-form-label">Age</label>@*asp for bind the input for prop*@
        <input asp-for="Age" class="form-control" readonly />
    </div>
    <div class="my-3">
        <label asp-for="Email" class="col-form-label">Email</label>@*asp for bind the input for prop*@
        <input asp-for="Email" class="form-control" readonly />
    </div>
    <div class="my-3">
        <label asp-for="Address" class="col-form-label">Address</label>@*asp for bind the input for prop*@
        <input asp-for="Address" class="form-control" readonly />
    </div>
    <div class="my-3">
        <label asp-for="Phone" class="col-form-label">Phone</label>@*asp for bind the input for prop*@
        <input asp-for="Phone" class="form-control" readonly />
    </div>
    <div class="my-3">
        <label asp-for="Salary" class="col-form-label">Salary</label>@*asp for bind the input for prop*@
        <input asp-for="Salary" class="form-control" readonly />
    </div>
   <div class="my-3 form-check">
    <input asp-for="IsActive" class="form-check-input" readonly   />
    <label asp-for="IsActive" class="form-check-label" ></label>
    </div>

   <div class="my-3 form-check">
    <input asp-for="IsDeleted" class="form-check-input" readonly  />
    <label asp-for="IsDeleted" class="form-check-label"></label>
    </div>
    <div class="my-3">
        <label asp-for="HiringDate" class="col-form-label">HiringDate</label>@*asp for bind the input for prop*@
        <input asp-for="HiringDate" class="form-control" readonly />
    </div>
    <div class="my-3">
        <label asp-for="CreateAt" class="col-form-label">CreateAt</label>@*asp for bind the input for prop*@
        <input asp-for="CreateAt" class="form-control" readonly />
    </div>
  <div class="my-3">
    <label class="form-label">Department</label>
    
    <!-- Hidden input so DepartmentId gets posted -->
    <input type="hidden" asp-for="DepartmentId" />

    <!-- Just show the department name -->
    <input class="form-control" value="@Model.Departments?.Name" readonly />
</div>
 