@model Employee
 
        <div>
            <img width=100 height=100 src="~/files/images/@(Model.ImageName is not null?Model.ImageName:"user.png")" />
        </div>
        <br />

<div class="row g-4">
    <div class="col-md-6">
       
        <div class="mb-3">
            <label asp-for="Name" class="form-label fw-bold"></label>
            <input asp-for="Name" class="form-control" readonly />
        </div>
        <div class="mb-3">
            <label asp-for="Age" class="form-label fw-bold"></label>
            <input asp-for="Age" class="form-control" readonly />
        </div>
        <div class="mb-3">
            <label asp-for="Email" class="form-label fw-bold"></label>
            <input asp-for="Email" class="form-control" readonly />
        </div>
        <div class="mb-3">
            <label asp-for="Phone" class="form-label fw-bold"></label>
            <input asp-for="Phone" class="form-control" readonly />
        </div>
        <div class="mb-3">
            <label asp-for="Salary" class="form-label fw-bold"></label>
            <input asp-for="Salary" class="form-control" readonly />
        </div>
    </div>

    <div class="col-md-6">
        <div class="mb-3">
            <label asp-for="Address" class="form-label fw-bold"></label>
            <input asp-for="Address" class="form-control" readonly />
        </div>
        <div class="mb-3">
            <label asp-for="HiringDate" class="form-label fw-bold"></label>
            <input asp-for="HiringDate" class="form-control" readonly />
        </div>
        <div class="mb-3">
            <label asp-for="CreateAt" class="form-label fw-bold"></label>
            <input asp-for="CreateAt" class="form-control" readonly />
        </div>
        <div class="mb-3">
            <label class="form-label fw-bold">Department</label>
            <input type="hidden" asp-for="DepartmentId" />
            <input class="form-control" value="@Model.Departments?.Name" readonly />
        </div>
        <div class="form-check form-switch mb-3">
            <input asp-for="IsActive" class="form-check-input" disabled />
            <label asp-for="IsActive" class="form-check-label fw-bold"></label>
        </div>
        <div class="form-check form-switch mb-3">
            <input asp-for="IsDeleted" class="form-check-input" disabled />
            <label asp-for="IsDeleted" class="form-check-label fw-bold"></label>
        </div>
    </div>
</div>
